

@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Flickr.ViewModels
@using System.Security.Claims

<h2>Hello @User.Identity.Name. Here are your photos!</h2>
<hr />
<br />

@Html.ActionLink("Create new", "Create", "Picture")

@*


    @if (Model.Any())
    {
        <ul>
            @foreach (var photo in Model)
            {
                <li>@Html.DisplayFor(modelPhoto => photo.img)</li>
            }
        </ul>
    }
    else
    {
        <p>No photos have been added yet!</p>
    }*@